/* General reset */
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

/* Sidebar styling */
.sidebar {
    background-color:#030e2e;
    color: white;
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
}

.sidebar .logo h2 {
    text-align: center;
    margin-bottom: 30px;
}

.sidebar ul {
    list-style-type: none;
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
}

.sidebar ul li a:hover {
    background-color: #030e2e;
}

/* Main content */
.main-content {
    margin-left: 250px;
    padding: 20px;
}

.stats-container {
    display: flex;
    justify-content: space-between;
}

.stat-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 48%;
}

.stat-card table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

.stat-card table th, .stat-card table td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: center;
}

.stat-card table th {
    background-color: #f4f4f4;
}

.message-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #030e2e;
    color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 320px;
    z-index: 1000;
}

.close-btn {
    background-color: white;
    color: #030e2e;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    border: none;
}
