
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #030e2e;
    color: #333;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 380px;
    transition: all 0.3s ease;
}

.container:hover {
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

header {
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    color: #030e2e; 
    margin-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: column;
}

.input-box {
    margin-bottom: 20px;
}

.input-box label {
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
}

.input-box input {
    width: 100%;
    padding: 14px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 16px;
    color: #333;
    outline: none;
    transition: border-color 0.3s ease;
}

.input-box input:focus {
    border-color: #030e2e;
}

.submit {
    background-color: #030e2e;
    color: white;
    padding: 15px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.submit:hover {
    background-color: #021a33;
}

footer {
    text-align: center;
    margin-top: 20px;
}

footer p {
    font-size: 14px;
    color: #666;
}

footer a {
    color: #030e2e;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}

.message-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color:#030e2e;
    color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 320px;
    z-index: 1000;
    font-size: 16px;
}

.message-popup p {
    margin-bottom: 15px;
}

.close-btn {
    background-color:white;
    color: #030e2e;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    border: none;
}

.close-btn:hover {
    background-color: #030e2e;
    color: white;
}

.message-popup {
    animation: fadeIn 0.3s ease-out;
}

